@model BobDeathmic.Models.ExternalAuthData

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExternalAuthData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Platform)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
