@model BobDeathmic.Models.StreamViewModels.StreamListDataModel

@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/table.css" />
<link rel="stylesheet" href="~/css/Stream/Status.css" />

<div class="breadcrumbs">
    <span>Streams > Verwaltung</span>
</div>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<table class="table">
    <thead>
        <tr>
            <th>Stream</th>
            <th>Type</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StreamList)
        {
            <tr>
                <td><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.StreamName)</a></td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td><a asp-action="Edit" asp-route-id="@item.ID">Edit</a></td>
                @if (item.Type == BobDeathmic.Models.Enum.StreamProviderTypes.Twitch)
                {
                    <td><a asp-action="TwitchOAuth" asp-route-id="@item.ID">Authorisieren</a></td>
                }

                <td><a asp-action="Delete" asp-route-id="@item.ID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

