@model BobDeathmic.Data.DBModels.StreamModels.StreamCommand

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <span>Streams > Commands > @Html.DisplayNameFor(model => model.name)</span>
</div>
<div class="pa-35">

    <h3>Bist dir sicher?</h3>
    <div>
        <h4>StreamCommand</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.response)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.response)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Mode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AutoInverval)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AutoInverval)
            </dd>
            <dt>
                Stream
            </dt>
            <dd>
                @Model.stream.StreamName
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
