@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/forms.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/React.css" />
<script src="~/js/EventEmitter.min.js"></script>
<div class="breadcrumbs">
    <span>EventCalendar > Editieren</span>
</div>
<div class="pa-35">
    <h2>Event Kalendar</h2>
    <hr />
    <div class="row">
        <div class="col-md-4" ID="reactcontent">

        </div>
    </div>
</div>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script src="@Url.Content("~/ReactComponents/EventDateFinder/Edit_Create/ChatUserSelect.jsx")"></script>
<script src="@Url.Content("~/ReactComponents/EventDateFinder/Edit_Create/EditCalendar.jsx")"></script>
<script src="@Url.Content("~/ReactComponents/EventDateFinder/Edit_Create/NameField.jsx")"></script>
<script src="@Url.Content("~/ReactComponents/EventDateFinder/Edit_Create/InvitedMemberList.jsx")"></script>
<script src="@Url.Content("~/ReactComponents/EventDateFinder/Edit_Create/TemplateList.jsx")"></script>
<script src="@Url.Content("~/ReactComponents/EventDateFinder/Edit_Create/Template.jsx")"></script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var elem = React.createElement(EditCalendar, { ID: @Model});
        ReactDOM.render(elem, document.getElementById('reactcontent'));
    });
</script>