@model BobDeathmic.ViewModels.GiveAway.GiveAwayAdminViewModel
@using BobDeathmic.Data.DBModels.User

<link rel="stylesheet" href="~/css/forms.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<div class="breadcrumbs">
    <span>Weihnachtsgeschenk > Admin</span>
</div>
<div class="pa-35">
    <h2>GiveAway Admin</h2>
    <hr />
    <div class="row">
        <div class="col-md-4" ID="reactcontent">

        </div>
    </div>
</div>

    //Use the jsx files on dev and comment out the Compiled Version
    //Dev use https://babeljs.io/repl to precompile scripts in jsx files
    <script src="@Url.Content("~/js/react.development.js")"></script>
    <script src="@Url.Content("~/js/react-dom.development.js")"></script>
    <script src="@Url.Content("~/ReactComponents/GiveAway/Admin/UI.jsx")"></script>
    <script src="@Url.Content("~/ReactComponents/GiveAway/Admin/CurrentItemInfo.jsx")"></script>
    <script src="@Url.Content("~/ReactComponents/GiveAway/Admin/NextItemAction.jsx")"></script>
    <script src="@Url.Content("~/ReactComponents/GiveAway/Admin/RaffleAction.jsx")"></script>
    <script src="@Url.Content("~/ReactComponents/GiveAway/Admin/ParticipantList.jsx")"></script>
    <script src="@Url.Content("~/ReactComponents/GiveAway/Admin/ChannelSelector.jsx")"></script>

@*
    <script src="@Url.Content("~/js/react.production.min.js")"></script>
    <script src="@Url.Content("~/js/react-dom.production.min.js")"></script>
*@

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var elem = React.createElement(UI, {});
        ReactDOM.render(elem, document.getElementById('reactcontent'));
    });
</script>