@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/Buttons.css" />

<div class="breadcrumbs">
    <span>Dienste</span>
</div>


<div class="pa-35">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Service</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (User.IsInRole("Admin") || User.IsInRole("Dev"))
                {
                    <tr>
                        <td>Discord</td>
                        <td><a class="button startdiscord">Start</a></td>
                        <td><a class="button stopdiscord">Stop</a></td>
                        <td><a class="button restartdiscord">Restart</a></td>
                    </tr>
                }
                @if (User.IsInRole("Dev"))
                {
                    <tr>
                        <td>TwitchRelay</td>
                        <td></td>
                        <td>
                            @if (User.IsInRole("Admin") || User.IsInRole("Dev"))
                            {
                                <a class="button stoptwitchrelay">Stop</a>
                            }
                        </td>
                        <td><a class="button restarttwitchrelay">Restart</a></td>
                    </tr>

                }
            </tbody>
        </table>

    </div>

</div>

@section Scripts {
    @if (User.IsInRole("Admin") || User.IsInRole("Dev"))
    {
        <script>

        jQuery(document).ready(function(){
            jQuery(".startdiscord").click(function () {
                var cur = jQuery(this);
                $.ajax({
                    url: '@Url.Action("StartDiscord", "Services")',
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {
                    }
                })
                });
            jQuery(".stopdiscord").click(function () {
                var cur = jQuery(this);
                $.ajax({
                    url: '@Url.Action("StopDiscord", "Services")',
                    dataType: 'html',
                    success: function (data) {
                    }
                })
                });
            jQuery(".restartdiscord").click(function () {
                var cur = jQuery(this);
                $.ajax({
                    url: '@Url.Action("RestartDiscord", "Services")',
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {
                    }
                })
            });
            jQuery(".stoptwitchrelay").click(function () {
                var cur = jQuery(this);
                $.ajax({
                    url: '@Url.Action("StopTwitchRelay", "Services")',
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {
                    }
                })
            });
        })
        </script>
    }
        @if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Dev"))
        {
            <script>

        jQuery(document).ready(function(){
            jQuery(".restarttwitchrelay").click(function () {
                var cur = jQuery(this);
                $.ajax({
                    url: '@Url.Action("RestartTwitchRelay", "Services")',
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {
                    }
                })
            });
        })
            </script>
        }
    }
